<!DOCTYPE html>
<html>
<head>
                <title>Brazzers Overlay Archive!</title>
        <style>
                        body {
	padding: 10px;
	background-color: #BFD9D5;
}
                        table { background-color: #FFF; -moz-box-shadow: 10px 10px 5px #888;
								-webkit-box-shadow: 10px 10px 5px #888;
								box-shadow: 10px 10px 5px #888; }
						#test1 { }
                </style>
</head>
<body>
<p><strong>Archive</strong> - Newest Image First</p>
        <table width="80%" border="0" align="center">
        <tr>
        <td colspan="3">Image: </td>
                  </tr>
                  <tr>
                    <td colspan="3">Get images</td>
                  </tr>
                  <tr>
                    <td width="40%">Score:</td>
                    <td width="22%">Up Vote</td>
                    <td width="38%">Down Vote</td>
                  </tr>
                  <tr>
                    <td colspan="2">Forwards </td>
                    <td>Backwards</td>
                  </tr>
                </table>
</body>
</html>
